/* 'Roboto Condensed' */
/* ===== Start core styles ===== */
* {
    box-sizing: border-box;
    outline: none;
}

*:focus {
    border: 2px dotted #FF7500;
    padding: 3px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.button {
    border-radius: 5px;
    padding: 12 24px;
    border: none;
}
/* ===== End core styles ===== */

/* ===== Start site header ===== */
.site-header {
    padding: 16px;
    border-top: 5px solid #FF7500;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

/* ===== Start navigation ===== */
.sitenav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.sitenav__item {
    margin-right: 32px;
}

.sitenav__item a {
    color: #000;
    font-weight:500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.sitenav__item a:hover {
    color: #FF7500;
}

.sitenav__item a:active {
    opacity: 0.8;
}

.sitenav__item-active {
    padding: 4px;
    border-bottom: 3px solid #FF7500;
}

.regitserBtn a {
    border: none;
    border-radius: 5px;
    background-color: #FF7500;
    color: #fff;
    font-size: 13px;
    padding: 12px 24px;
    line-height: 15px;
}

.regitserBtn a:hover {
    color: #fff;
    opacity: 0.8;
}

.regitserBtn a:active {
    color: #fff;
    opacity: 0.6;
}
/* ===== End navigation ===== */
/* ===== End site header ===== */